.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 15% 20px 15%;
  transform: translateY(-12rem);

  @media only screen and (max-width: $bp-medium) {
    transform: translateY(-8rem);
    margin: 0 10% 10px 10%;
  }

  @media only screen and (max-width: $bp-small) {
    transform: translateY(-6.5rem);
  }

  &_img {
    width: 200px;
    margin-bottom: 10px;

    border: solid 3px $color-primary-light;
    border-radius: 50%;
    z-index: 3;

    @media only screen and (max-width: $bp-medium) {
      width: 150px;
    }

    @media only screen and (max-width: $bp-small) {
      width: 120px;
    }
  }
}

.about h2 {
  padding-bottom: 18px;
}

.about p {
  letter-spacing: 1px;
  max-width: 800px;
  line-height: 1.8;
}
